<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{library}">Library</title>
    <div th:replace="~{fragments/library}"></div>
</head>

<body class="bg-light d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container flex-grow-1 d-flex align-items-center justify-content-center">

    <div class="text-center">

        <div class="mb-4">
            <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 4rem;"></i>
        </div>

        <h1 class="display-4 fw-bold text-danger" th:text="${status}">500</h1>

        <h1 class="text-muted mb-4" th:text="${message}">error message</h1>

    </div>
</div>

</body>

</html>