<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{authors}">Authors</title>
    <script type="module" th:src="@{/js/author/list.js}"></script>
    <div th:replace="~{fragments/library}"></div>
</head>
<body class="bg-light d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header :: header}"></div>

<!--modal-->
<div th:replace="~{fragments/delete-modal}"></div>

<div class="container flex-grow-1 py-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 th:text="#{authors}">Authors</h2>

        <a href="/authors/new" class="btn btn-success">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>

    <!--loader-->
    <div class="d-flex justify-content-center">
        <div id="loader"
             class="spinner-border text-secondary text-center"
             role="status">
        </div>
    </div>

    <div id="authors-container"
         class="row g-4"></div>

</div>
</body>
</html>